extend layout

block content
    form(method="post", class="paste-form")
        br
        br
        div#tabs
            a(href="#", class="tab-trigger active", aria-controls="tab-one", role="tab") Guitar Tab
            a(href="#", class="tab-trigger", aria-controls="tab-two", role="tab") Bass Tab
            div.tab-panel.active#tab-one(role="tabpanel")
                textarea(class="tabarea", placeholder="Paste guitar tablature here", name="tab")
            div.tab-panel#tab-two(role="tabpanel")
                textarea(class="tabarea", placeholder="Paste bass tablature here", name="tab")

        button(type="submit", class="submit-btn") upload
